
<header>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	  <a class="navbar-brand" routerLink="/login">SpringBoot&Angular</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li *ngIf="isUserLoggedIn()"  class="nav-item active">
	        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li *ngIf="isUserLoggedIn()" class="nav-item">
	        <a class="nav-link" routerLink="/list-persons">List Persons</a>
	      </li>
	    </ul>
			<ul class='navbar-nav navbar-collapse justify-content-end' >
				<li *ngIf="!isUserLoggedIn()" >
	        <a class="nav-link" routerLink="/login">Login</a>
	      </li>
				<li *ngIf="isUserLoggedIn()" >
	        <a class="nav-link" (click)='logout()' routerLink="/login">Logout</a>
	      </li>
			</ul>
	    <div class="form-inline my-2 my-lg-0">
				
	    </div>
	  </div>
	</nav>
	
</header>





